@font-face {
  font-family: 'Lato';
  src: url('/fonts/Lato-Bold.ttf') format('truetype');
}

* {
  font-family: 'Lato', sans-serif;
}

body {
  margin: 0;
  background-color: #f8f9fa;

}
/* html {
  scrollbar-gutter: stable;
} */

#root {
  max-width: 414px;
  margin: 0 auto;
  background: white;
  min-height: 100vh;
  position: relative;
  box-shadow: 0 0 20px rgba(0,0,0,0.05);
}
/* body {
  margin: 0;
  font-family: sans-serif;
} */

/* Hilangkan scrollbar di semua kontainer scrollable */
* {
  scrollbar-width: none; /* Firefox */
  -ms-overflow-style: none; /* Internet Explorer 10+ */
}

/* Untuk WebKit (Chrome, Safari) */
*::-webkit-scrollbar {
  display: none;
}

